<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/admin/header :: header">
</head>

<body>

<div th:replace="fragments/admin/navigation :: nav"></div>
<aside th:replace="fragments/admin/navigation :: aside"></aside>

<!--content area start-->

<!--content area start-->
<div id="content" class="pmd-content inner-page">

    <!--tab start-->
    <div class="container-fluid full-width-container">

        <!-- Title -->
        <h1 class="section-title" id="services">
            <span>Редактирование камеры</span>
        </h1><!-- End Title -->

        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a href="/admin">Главная</a></li>
            <li><a href="/admin/complexes">Комплексы</a></li>
            <li><a th:href="'/admin/complexes/' + ${complex.getId()}" th:text="${complex.getName()}"></a></li>
            <li><a th:href="'/admin/cameras/complex/' + ${complex.getId()}">Камеры</a></li>
            <li class="active">Редактирование</li>
        </ol><!--breadcrum end-->

        <section class="row component-section">
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/delete/' + ${camera.getId()}" type="button" class="btn btn-danger"> Удалить </a>
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/daily/' + ${camera.getId()}" type="button" class="btn btn-success"> Собрать дневное видео </a>
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/weekly/' + ${camera.getId()}" type="button" class="btn btn-success"> Собрать недельное видео </a>
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/alltime/' + ${camera.getId()}" type="button" class="btn btn-success"> Собрать всё видео </a>
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/upload/' + ${camera.getId()}" type="button" class="btn btn-primary"> Загрузить дневное видео </a>
        </section>

        <div class="section section-custom billinfo">
            <!--section-title -->
            <h2>Редактирование камеры</h2><!--section-title end -->
            <!-- section content start-->
            <form id="form" action="#" th:action="'/admin/cameras/complex/' + ${complex.getId()} + '/camera/' + ${camera.getId()}" th:object="${camera}" method="post">
                <div class="pmd-card pmd-z-depth">
                    <div class="pmd-card-body">

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="id" class="control-label">
                                        ID
                                    </label>
                                    <input disabled th:field="*{id}" type="text" id="id" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="name" class="control-label">
                                        Название
                                    </label>
                                    <input th:field="*{name}" type="text" id="name" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="ident" class="control-label">
                                        Идентификатор
                                    </label>
                                    <input th:field="*{internalName}" type="text" id="ident" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="srv" class="control-label">
                                        Сервер
                                    </label>
                                    <select id="srv" th:field="*{server.id}" class="select-simple form-control pmd-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option th:each="server : ${servers}" th:value="${server.getId()}" th:text="${server.getName()} + ' (' + ${server.getCamerasCount()} + ' камер)'"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="type" class="control-label">
                                        Тип плеера
                                    </label>
                                    <select id="type" th:field="*{viewType}" class="select-simple form-control pmd-select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option value="URL">Обычный</option>
                                        <option value="RTMP">RTMP поток</option>
                                        <option value="IMAGE">Статичное изображение</option>
                                        <option value="NONE">Выключено</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="url" class="control-label">
                                        Адрес
                                    </label>
                                    <input th:field="*{realtimeUrl}" type="text" id="url" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="tasks" class="control-label">
                                        Задачи
                                    </label>
                                    <select id="tasks" th:field="*{tasks}" multiple="multiple" class="select-simple form-control pmd-select2-tags select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <option th:each="task : ${tasks}"
                                                th:value="${{task}}"
                                                th:text="${task.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label">Скрипт кастомизации</label>
                                    <textarea th:field="*{ffmpegScript}" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="checkbox pmd-default-theme">
                                    <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                                        <input type="checkbox" th:field="*{archive}" value="">
                                        <span>Архив</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="checkbox pmd-default-theme">
                                    <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                                        <input type="checkbox" th:field="*{enabled}" value="">
                                        <span>Включен</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <input type="submit" class="btn btn-primary next">
                        <a href="javascript:void(0);" class="btn btn-default">Cancel</a>
                    </div>
                </div> <!-- section content end -->
            </form>

            <div class="col-md-5 col-sm-7 masonry-brick" style="position: absolute; top: 210px; left: 876px;">
                <h2>Вывод с камеры</h2>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                    </div>
                    <div class="pmd-card-media">
                        <div class="sv-video">
                            <div class="video-responsive">
                                <video id="videoarea" class="video-js vjs-default-skin" autoplay width="650" height="500" controls preload="auto" data-setup="{}">
                                    <source th:if="${camera.getViewType() == null || camera.getViewType().name() == 'URL'}" id="videosrc" th:src="${camera.getRealtimeUrl()}" type="application/x-mpegURL">
                                    <source th:if="${camera.getViewType() != null && camera.getViewType().name() == 'RTMP'}" id="videosrc" th:src="${camera.getRealtimeUrl()}" type="rtmp/mp4">
                                    <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                    </p>
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-card-title">
                    </div>
                    <div class="pmd-card-body">
                    </div>
                    <div class="pmd-card-actions">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--tab start-->
    <!--content area end-->
</div>

<footer class="admin-footer" th:replace="fragments/admin/footer :: footer"></footer>

<script src="//vjs.zencdn.net/5.8/video.min.js"></script>
<script src="/js/videojs-contrib-hls.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var player = videojs('videoarea', {}, function () {
            this.on('error', function () {
                var time = this.currentTime();

                if (this.error().code === 2) {
                    this.error(null).pause().load().currentTime(time).play();
                }
            });
        });

        player.play();

        $("#type").on('input', function () {
            console.log("Switch type");
            var type = 'application/x-mpegURL';

            if($("#type").val() === 'RTMP') {
                console.log("Switch to RTMP");
                type = "rtmp/mp4";
            }

            player.reset();
            player.src({type: type, src: $("#url").val()});
            player.play();
        });

        $("#url").on('input', function () {
            console.log("input detected");
            var type = 'application/x-mpegURL';

            if($("#type").val() === 'RTMP') {
                console.log("Switch to RTMP");
                type = "rtmp/mp4";
            }

            player.reset();
            player.src({type: type, src: $("#url").val()});
            player.play();
        });

    });
    /*]]>*/
</script>

</body>
</html>