<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/admin/header :: header">
</head>

<body>

<div th:replace="fragments/admin/navigation :: nav"></div>
<aside th:replace="fragments/admin/navigation :: aside"></aside>

<!--content area start-->

<!--content area start-->
<div id="content" class="pmd-content inner-page">

    <!--tab start-->
    <div class="container-fluid full-width-container">

        <!-- Title -->
        <h1 class="section-title" id="services">
            <span>Редактирование комплекса</span>
        </h1><!-- End Title -->

        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a href="/admin">Главная</a></li>
            <li><a href="/admin/complexes">Комплексы</a></li>
            <li class="active">Редактирование комплекса</li>
        </ol><!--breadcrum end-->

        <section class="row component-section">
            <a th:if="${complex.getCameras().size() > 0}" th:href="'/admin/cameras/complex/' + ${complex.getId()}" type="button" class="btn btn-success"> Камеры комплекса </a>
            <a th:href="'/admin/cameras/complex/' + ${complex.getId()} + '/new'" type="button" class="btn btn-success"> Добавить камеру </a>
            <a th:href="'/admin/complexes/delete/' + ${complex.getId()}" type="button" class="btn btn-danger"> Удалить </a>
        </section>

        <div class="section section-custom billinfo">
            <!--section-title -->
            <h2>Редактирование сервера</h2><!--section-title end -->
            <!-- section content start-->
            <form id="form" action="#" th:action="'/admin/complexes/' + ${complex.getId()}" th:object="${complex}" method="post">
                <div class="pmd-card pmd-z-depth">
                    <div class="pmd-card-body">

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        ID
                                    </label>
                                    <input th:field="*{id}" type="text" id="regular1" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Название
                                    </label>
                                    <input th:field="*{name}" type="text" id="regular1" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        SEO название
                                    </label>
                                    <input th:field="*{seoName}" type="text" id="regular1" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="checkbox pmd-default-theme">
                                    <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                                        <input type="checkbox" th:field="*{archive}" value="">
                                        <span>Архив</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="checkbox pmd-default-theme">
                                    <label class="pmd-checkbox checkbox-pmd-ripple-effect">
                                        <input type="checkbox" th:field="*{enabled}" value="">
                                        <span>Включен</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <input type="submit" class="btn btn-primary next">
                        <a href="javascript:void(0);" class="btn btn-default">Cancel</a>
                    </div>
                </div> <!-- section content end -->
            </form>
        </div>

    </div>
    <!--tab start-->
    <!--content area end-->
</div>

<footer class="admin-footer" th:replace="fragments/admin/footer :: footer"></footer>

</body>
</html>