<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/admin/header :: header">
</head>

<body>

<div th:replace="fragments/admin/navigation :: nav"></div>
<aside th:replace="fragments/admin/navigation :: aside"></aside>

<!--content area start-->

<!--content area start-->
<div id="content" class="pmd-content inner-page">

    <!--tab start-->
    <div class="container-fluid full-width-container">

        <!-- Title -->
        <h1 class="section-title" id="services">
            <span>Парсер</span>
        </h1><!-- End Title -->

        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a href="/admin">Главная</a></li>
            <li><a href="/admin/complexes">Комплексы</a></li>
            <li class="active">Парсер</li>
        </ol><!--breadcrum end-->

        <div class="section section-custom billinfo">
            <!--section-title -->
            <h2>Парсер комплексов</h2><!--section-title end -->
            <!-- section content start-->
            <form id="form" action="/admin/complexes/parser" method="post">
                <div class="pmd-card pmd-z-depth">
                    <div class="pmd-card-body">

                        <div class="alert alert-success" role="alert" th:if="${complex != null}" th:text="'Комплекс ' + ${complex.getName()} + ' успешно сохранен'"></div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="url" class="control-label">
                                        URL
                                    </label>
                                    <input name="url" type="text" id="url" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pmd-card-actions">
                        <input type="submit" class="btn btn-primary next">
                        <a href="javascript:void(0);" class="btn btn-default">Cancel</a>
                    </div>
                </div> <!-- section content end -->
            </form>
        </div>

    </div>
    <!--tab start-->
    <!--content area end-->
</div>

<footer class="admin-footer" th:replace="fragments/admin/footer :: footer"></footer>

</body>
</html>