<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/admin/header :: header">
</head>

<body>

<div th:replace="fragments/admin/navigation :: nav"></div>
<aside th:replace="fragments/admin/navigation :: aside"></aside>

<!--content area start-->
<div id="content" class="pmd-content inner-page">

    <!--tab start-->
    <div class="container-fluid full-width-container data-tables">
        <!-- Title -->
        <h1 class="section-title" id="services">
            <span>Камеры сервера</span>
        </h1><!-- End Title -->

        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a href="/admin">Главная</a></li>
            <li><a href="/admin/servers">Сервера</a></li>
            <li class="active">Камеры</li>
        </ol><!--breadcrum end-->

        <!-- Responsive table -->
        <section class="row component-section">
            <!-- responsive table code and example -->
            <div class="col-md-12">
                <!-- responsive table example -->
                <div class="pmd-card pmd-z-depth pmd-card-custom-view">
                    <table id="example" class="table pmd-table table-hover table-striped display responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>rrr</th>
                            <th>Название</th>
                            <th>Идентификатор</th>
                            <th>Сервер</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="camera : ${cameras}">
                            <td th:text="${camera.getId()}"></td>
                            <td></td>
                            <td><a th:href="'/admin/cameras/complex/' + ${camera.getComplexId()} + '/camera/' + ${camera.getId()}" th:text="${camera.getName()}"></a></td>
                            <td th:text="${camera.getInternalName()}"></td>
                            <td>
                                <a th:href="'/admin/complexes/' + ${camera.getComplexId()}" th:text="${camera.getComplexName()}"></a>
                            </td>
                            <td>
                                <span th:if="${camera.getArchive()}" class="badge btn-error">в архиве</span>
                                <span th:if="${!camera.getEnabled()}" class="badge btn-delete">выключена</span>
                                <span th:if="${camera.getLastSuccessImageFetch()}" class="badge btn-success" th:title="${camera.getLastSuccessImageFetch()}">данные получены</span>
                                <span th:if="${camera.getLastFailedImageFetch()}" class="badge btn-danger" th:title="${camera.getLastFailedImageFetch()}">нет данных</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div> <!-- responsive table example end -->
            </div> <!-- responsive table code and example end-->
        </section> <!-- Responsive table end -->

    </div>
    <!--tab start-->

    <!--content area end-->
</div>

<footer class="admin-footer" th:replace="fragments/admin/footer :: footer"></footer>

<!-- Datatable js -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- Datatable Bootstrap -->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

<!-- Datatable responsive js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

<!-- Datatable select js-->
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

<!-- Scripts Ends -->

<!-- Responsive Data table js-->
<script>
    //Propeller  Customised Javascript code
    $(document).ready(function() {
        var exampleDatatable = $('#example').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [ {
                className: 'control',
                orderable: false,
                targets:   1
            } ],
            order: [ 1, 'asc' ],
            bFilter: true,
            bLengthChange: true,
            pagingType: "simple",
            "paging": true,
            "searching": true,
            "language": {
                "info": " _START_ - _END_ из _TOTAL_ ",
                "sLengthMenu": "<span class='custom-select-title'>Комплексов на странице:</span> <span class='custom-select'> _MENU_ </span>",
                "sSearch": "",
                "sSearchPlaceholder": "Search",
                "paginate": {
                    "sNext": " ",
                    "sPrevious": " "
                }
            },
            dom:
                "<'pmd-card-title'<'data-table-responsive pull-left'><'search-paper pmd-textfield'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'pmd-card-footer' <'pmd-datatable-pagination' l i>>",
        });

    } );
</script>
</body>
</html>