<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header(title=${title}, keywords=${keywords})">
</head>

<body class="single-video light">

<div th:replace="fragments/navigation :: navigation(auth=${auth}, username=${username})"></div>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 v-history">

                <!-- News -->
                <div class="content-block">
                    <div class="cb-content" th:each="n : ${news}">

                        <!-- news row -->
                        <div class="row">
                            <div class="h-video">
                                <div class="col-lg-2 col-sm-5 col-xs-6">
                                    <div class="v-img">
                                        <a th:href="'/news/show/' + ${n.getId()}"><img src="/images/video.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-sm-5 col-xs-6">
                                    <div class="v-desc">
                                        <a th:href="'/news/show/' + ${n.getId()}" th:text="${n.getSubject()}"></a>
                                    </div>
                                    <div class="v-views" th:utext="${n.getText()}">

                                    </div>
                                    <div class="v-percent"><span class="v-circle"></span> <div th:text="${n.getPostedAt()}"></div></div>
                                </div>
                                <div class="col-lg-2 col-sm-2 h-clear-list">
                                    <a href="#"><i class="cvicon-cv-cancel"></i></a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="h-divider"></div>
                            </div>
                        </div>
                        <!-- ///news row -->
                    </div>
                </div>
                <!-- /news -->

                <div class="content-block head-div head-arrow mb-40 mt-40 visible-xs">
                    <div class="head-arrow-icon">
                        <i class="cv cvicon-cv-next"></i>
                    </div>
                </div>

                <div class="loadmore hidden-xs">
                    <button class="btn btn-default h-btn">Еще новости</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- /footer -->

</body>
</html>