<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="cam-list" class="list" th:each="cam,iter : ${complex.getCameras()}">

    <div class="h-video playlist row">
        <div class="col-lg-6 col-sm-6">
            <div class="v-number">
                <span th:if="${cam.getId().equals(camera.getId())}"><i class="fas fa-play cv cvicon-cv-play"></i></span>
                <span th:unless="${cam.getId().equals(camera.getId())}" th:text="${iter.index + 1}"></span>
            </div>
            <div class="v-img">
                <a th:href="'/b/' + ${complex.getSeoName()} + '/cam/' + ${cam.getId()}">
                    <img th:src="'http://img.youtube.com/vi/' + ${cam.getLastDailyVideo()} + '/mqdefault.jpg'"
                         alt=""></a>
                <div class="time" th:text="${cam.getArchive() ? 'Архив' : ''}"></div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="v-desc">
                <a th:href="'/b/' + ${complex.getSeoName()} + '/cam/' + ${cam.getId()}"
                   th:text="${cam.getArchive() ? cam.getName() + ' (архив)' : cam.getName()}"></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
</body>
</html>