<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="comments" th:fragment="comments">

    <div th:if="${auth == null || !auth.isAuthenticated()}">
        <center><a href="/login" style="color: #3b5998">Войдите</a>, чтобы оставить комментарий</center>
    </div>

    <div class="reply-comment">
        <div class="rc-header">
            <i class="cv cvicon-cv-comment"></i> <span class="semibold" th:text="${comments}"></span>
            комментария/ев
        </div>

        <div th:if="${auth != null && auth.isAuthenticated()}">
            <div class="rc-ava"><img src="/images/avatar.png" alt=""></div>
            <form id="add-comment" action="#" method="post">
                <div class="rc-comment">
                    <textarea rows="3" placeholder="Ваш комментарий" required id="ctext"></textarea>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-envelope"></i> Отправить
                    </button>
                </div>
            </form>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="comments-list" id="comments-list" th:if="${comments > 0}">
    </div>

    <div id="more-container" th:if="${comments > 0}">
        <div class="col-lg-12">
            <div class="loadmore-comments">
                <button id="loadmore" class="btn btn-default h-btn">Еще комментарии</button>
            </div>
        </div>
    </div>

    <div class="comments-list" id="comments-list" th:unless="${comments > 0}">
        <!-- NO comment -->
        <div class="cl-comment" id="no-comments">
            <div class="cl-avatar"><a href="#"><img src="/images/avatar.png" alt=""></a></div>
            <div class="cl-comment-text">
                <div class="cl-name-date"></div>
                <div class="cl-text">Еще никто не оставил комментарий. Будь первым!</div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- END NO comment -->
    </div>
</div>
</body>
</html>